:root {
  font-family: 'Pretendard', 'Pretendard JP', system-ui, Avenir, Helvetica,
    Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #111;
  color: #b5b5b5;

  --state-open: #0087ff;
  --state-closed: #898989;
}

* {
  margin: 0;
  padding: 0;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;

  filter: contrast(0.5) grayscale(1);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  font-weight: 600;

  flex-wrap: wrap;
  line-height: 1.25;
  font-size: 2.5rem;
  background-color: black;
  mix-blend-mode: hard-light;
}

.content {
  max-width: 980px;
  margin: auto 1em;
}

button {
  background: transparent;
  margin-left: 8px;
  padding: 0 8px;
  border-radius: 15px;

  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
}

button:hover {
  background: var(--state-open);
  cursor: pointer;
}

button[data-state='closed'] {
  border: 1px solid var(--state-closed);
}

button[data-state='closed']:hover {
  border: 1px solid var(--state-open);
}

button[data-state='open'] {
  border: 1px solid var(--state-open);
  background-color: var(--state-open);
}

button[data-state='open']:hover + span {
  color: #1659c2;
}

button[data-state='closed'] + span {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/*  BLUR  */
span {
  transition: filter 0.5s ease;
}

.blur {
  filter: blur(10px);
  color: #eee;
}

.blur button[data-state='open'],
.blur button[data-state='closed'],
.blur button:hover + span {
  cursor: default;
  border: none;
  background: none;
  color: #eee;
}

/* TAB  */
button:focus-visible {
  outline: 1px solid var(--state-closed);
  outline-offset: 2px;
}

/* reveal */
.reveal {
  position: absolute;
  top: 0px;
  right: 16px;
}

.reveal button {
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #eee;
  padding: 4px 8px;
}
